// Import Bootstrap for Sass
@import "_bootstrap.scss";
@import "font-awesome.scss";
// Import custom Bootstrap variables
@import "rooms.scss";
@import "room.scss";
@import "home.scss";

html, body {
	height: 100%;
	width: 100%;
}

@font-face {
    font-family: "Futura";
    src: url('../fonts/futura/futura_light.ttf');
    font-weight: 300;
}




