// Import Bootstrap for Sass
@import "_bootstrap.scss";
@import "font-awesome.scss";
// Import custom Bootstrap variables
@import "rooms.scss";
@import "room.scss";
@import "home.scss";


h1 {
    text-transform: uppercase;
    font-family: "Oswald";
    font-weight: 700 !important;
    font-style: oblique !important;
}

html, #body, #view {
	min-height: 100% !important;
	min-width: 100% !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: "Futura";
    src: url('../fonts/futura/futura_light.ttf');
    font-weight: 300;
}

.navbar {
    .navbar-brand {
        color: white;
    }
    .navbar-text {
        color: white;
        b {
            color: $blue;
        }
    }
}




