<div ng-include src="'views/navbar.html'" autoscroll></div>
<div class="container" ng-controller="RoomCtrl">
	<div id="room" ng-controller="FeedCtrl">
		<h1>Welcome to {{ currentRoom.name }}</h1>
		<p ng-if="errors"> {{ errors }}</p>
		<div class="row">
			<div class="col-xs-6">
				<div class="message" ng-repeat="message in currentRoom.messages">
					<div class="row">
						<div class="col-xs-1 icon-wrapper">
							<img ng-src="{{ message.user.image }}" class="thumbnail" alt="">
						</div>
						<div class="col-xs-11">
							<h4>{{ message.user.name }}<small>{{ message.createdAt | date: "MM/dd/yyyy 'at' h:mma" }}</small></h4>
							<p>{{ message.content }}</p>
							<i class="fa fa-times fa-lg" ng-show="message.user = currentUser" ng-click="deleteMessage(message)"></i>
						</div>
					</div>
				</div>
				<div class="new-message" ng-form>
					<input type="text" class="form-control" ng-model="newMessage.content" placeholder="New Message">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Attach a story" ng-model="newMessage.story.title" ng-change="search()">
						<span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="sendMessage()">Send</button></span>
					</div>
					<div id="searchFeed">
						<div class="searchStory" ng-repeat="title in searchFeed">
							<p ng-click="setMessageStory(title)">{{ title }}</p>
						</div>
					</div>
				</div>
				</div>
				<div class="col-xs-6">
					<div>
						ESPN
						<div id="feed" ng-repeat="story in sortedFeed">
							<div class="story">
								<a href="{{ story.link }}"><h4 ng-bind-html="story.title"></h4></a>
								<p ng-bind-html="story.publishedDate | date: 'short'"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>