<div ng-include src="'views/navbar.html'" autoscroll></div>
<div class="container" ng-controller="RoomsCtrl">
    <h1>NFL Teams</h1>
    <div id="rooms">
        <div class="room" ng-repeat="room in rooms">
            <div class="img-container">
                <img ng-src="{{ room.image }}">
            </div>
            <div>
                <button class="btn btn-block btn-primary" ng-click="joinRoom(room);">Join</button>
            </div>
            <ul class="follow-list">
                <li>200</li>
                <li>60</li>
            </ul>
        </div>
    </div>
</div>